<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Sincronización.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <Sincronización.Properties.Settings>
            <setting name="Sincronización_ProductoLista_ProductoLista_Service"
                serializeAs="String">
                <value>http://192.168.1.202:7047/InstanceName/WS/MAI%20AUTOPARTS%252C%20S.L./Page/ProductoLista</value>
            </setting>
            <setting name="Sincronización_ClienteLista_ClienteLista_Service"
                serializeAs="String">
                <value>http://192.168.1.202:7047/InstanceName/WS/MAI%20AUTOPARTS%252C%20S.L./Page/ClienteLista</value>
            </setting>
            <setting name="Sincronización_ClienteGrupoPrecios_ClienteGrupoPrecios_Service"
                serializeAs="String">
                <value>http://192.168.1.202:7047/InstanceName/WS/MAI%20AUTOPARTS%252C%20S.L./Page/ClienteGrupoPrecios</value>
            </setting>
            <setting name="Sincronización_ProductoFicha_ProductoFicha_Service"
                serializeAs="String">
                <value>http://192.168.1.202:7047/InstanceName/WS/MAI%20AUTOPARTS%252C%20S.L./Page/ProductoFicha</value>
            </setting>
            <setting name="Sincronización_ProductoImagen_ProductoImagen_Service"
                serializeAs="String">
                <value>http://192.168.1.202:7047/InstanceName/WS/MAI%20AUTOPARTS%252C%20S.L./Page/ProductoImagen</value>
            </setting>
            <setting name="Sincronización_ProductoTraduccion_ProductoTraduccion_Service"
                serializeAs="String">
                <value>http://192.168.1.202:7047/InstanceName/WS/MAI%20AUTOPARTS%252C%20S.L./Page/ProductoTraduccion</value>
            </setting>
            <setting name="Sincronización_PedidoFicha_PedidoFicha_Service"
                serializeAs="String">
                <value>http://192.168.1.202:7047/InstanceName/WS/MAI%20AUTOPARTS%252C%20S.L./Page/PedidoFicha</value>
            </setting>
            <setting name="Sincronización_FacturasLista_FacturasLista_Service"
                serializeAs="String">
                <value>http://192.168.1.202:7047/InstanceName/WS/MAI%20AUTOPARTS%252C%20S.L./Page/FacturasLista</value>
            </setting>
            <setting name="Sincronización_ProductoCaracteristicas_ProductoCaracteristica_Service"
                serializeAs="String">
                <value>http://192.168.1.202:7047/InstanceName/WS/MAI%20AUTOPARTS%252C%20S.L./Page/ProductoCaracteristica</value>
            </setting>
        </Sincronización.Properties.Settings>
    </applicationSettings>
</configuration>